Flask==3.0.3
gunicorn==21.2.0

ultralytics==8.3.15
Pillow==10.4.0
numpy==1.26.4

opencv-python-headless==4.10.0.84

torch==2.2.2+cpu
torchvision==0.17.2+cpu

--index-url https://download.pytorch.org/whl/cpu